@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import 'remixicon/fonts/remixicon.css';
:root{
  --prim:#B79F4F;
  --prim-dark:#ffc400;
  --text-color:#1D1913;
  --text-color:#c4beb8;
  --body:#191817;
  --white:#fff;
  --black:#000;

  --transition-regular:.3s;
  --transition-slow:.6s;


}

.Rethink{
  font-family: var(--font-rethink);
}
.DMSans{
   font-family: var(--font-dmSans);
}
.Audiowide{
     font-family: var(--font-audiowide);
}
*{
  scroll-behavior: smooth;
}
body{
  background: var(--body);
  color: var(--white);
  overflow-x: hidden;
}