@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import 'remixicon/fonts/remixicon.css';
:root{
  --prim:#B79F4F;
  --prim-dark:#ffc400;
  --text-color:#1D1913;
  --text-color:#c4beb8;
  --body:#191817;
  --white:#fff;
  --black:#000;

  --transition-regular:.3s;
  --transition-slow:.6s;


}

.Rethink{
  font-family: var(--font-rethink);
}
.DMSans{
   font-family: var(--font-dmSans);
}
.Audiowide{
     font-family: var(--font-audiowide);
}
*{
  scroll-behavior: smooth;
}
body{
  background: var(--body);
  color: var(--white);
  overflow-x: hidden;
}
/*Hero Header */
.hero-header {
  position: relative; /* ضروري لضبط مكان الخلفية */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden; /* لمنع أي زوائد ناتجة عن القلب */
}

/* العنصر الوهمي الذي سيحمل الصورة */
.hero-header::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../public/Hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
 
  /*   ar قلب الصورة أفقياً */
  transform: scaleX(-1); 
  

  
  /* لجعل الصورة خلف العناصر الأخرى */
  z-index: -1; 
}


.marquee-text{
  -webkit-text-stroke: 2px black;
  color: transparent;
}

.marquee_text{
 width: max-content;
 animation: marquee 25s linear infinite ;
}
@keyframes marquee {
  0%{transform: translateX(0);}
  100%{transform: translateX(-50%);}
}


.about-wrap{
  position: relative;
}
.about-wrap::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:1px ;
  height: 100%;
  background-color: var(--white);
 opacity: 0.2; 
   z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
 

}
.about-content{
  position: relative;

}
.about-content::before{
 content: '';
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:50px ;
  height: 50px;
  background-color: var(--prim-dark);
  display: flex;
  justify-content: center;
  align-items: center;
 font-size: 1.7rem;
 font-weight: 700;
  border-radius: 100%;
  z-index: -1;
  font-family: var(--font-rethink);
}

.about-content:nth-child(1):before{
  content: '01';
}
.about-content:nth-child(2):before{
  content: '02';
}
.about-content:nth-child(3):before{
  content: '03';
}


@media (max-width:991px){
  .about-content:before,
  .about-wrap:before{
    display: none;
  }
}




.work-banner{
  width:100%;
  height: 90vh;
  background-image: url('/work-banner-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.work-banner:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,0.5);
  z-index: -1;
}
.work-banner-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





.testimonia-image:after{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.2) ;

}
.contact{
  background-image: url('/contact.bg.jpg');
  background-size: cover;
}